img.lo {
    background-color: black;
    
    padding: 2px;
    text-align: left;
 margin:400px 200px 0px 50px; ;
width: 50px;

}

#t1 {
    background-color: #d19e7a;
    color: #000;
   padding: 5px;
    text-align:right;
    margin:00px 10px 0px 300px;
 width:710px;
 height: 30px; 
display:inline-block;
font-size: 18px;
word-spacing: 25px;
}

h1 {
    background-color: #684c38;
   background-position: center;
    text-align: center;
    color: #ffff;
 padding: 60px;
    width:600px;
    height: 100px;
    /* margin: 0px 200px; */
    overflow:visible;
    font-size: 100px;
   
    margin:0px 300px 0px 400px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {



    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210417/pngtree-retro-vintage-old-paper-texture-background-brown-color-image_636629.jpg");
    text-align: center;
    background-attachment:scroll;
   background-position:  center center;
background-repeat: no-repeat;
background-size: 700px;
height: 200px;
padding: 0px 5px 5px 10px;
margin:1px 360px 50px 400px ;
position: relative;
width:777px;

}
#pp{

text-align: center;
margin: 10px 600px 600px 100px;


}
img{
  margin: 4px 700px;



}
